# handling text

In [1]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "

len(text1) # The length of text1

76

In [2]:
text2 = text1.split(' ') # Return a list of the words in text2, separating by ' '.

len(text2)

14

In [4]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

## find words with certain conditions

find words that are more than 3 car long

In [6]:
[w for w in text2 if len(w) >3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [7]:
[w for w in text2 if w.istitle()] # Capitalized words in text2

['Ethics', 'United', 'Nations']

In [8]:
[w for w in text2 if w.endswith('s')] # Words in text2 that end in 's'

['Ethics', 'ideals', 'objectives', 'Nations']

## find unique words

We can find unique words using `set()`.

In [9]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

len(text4)

6

In [10]:
len(set(text4))

5

In [11]:
set(text4) # we dont want these variants: To and to

{'To', 'be', 'not', 'or', 'to'}

In [12]:
len(set([w.lower() for w in text4])) # .lower converts the string to lowercase.

4

In [13]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

## word comparison functions

- s.startswith(t)
- s.ednswith(t)
- t in s 
- s.isupper()
- s.islower()
- s.istitle() ( first letter is capitalized others small)
- s.isalpha() (is just alphabets?)
- s.isdigit()
- s.isalnum() (num or alphabets)
- s.lower()
- s.upper()
- s.titlecase()
- s.split(t)
- s.splitlines() (split sentece on  on newline charc or endline of character)
- s.joint(t)
- s.strip() (takes out white spaces) at the beginning and end of string
- s.rstrip() (takes out white spaces) at the end of string
- s.find(t)
- s.rfind(t)
- s.replace(u,v) any u string will be replaced with w

In [16]:
s="ouagadougou"

In [18]:
text6=s.split("ou")
text6

['', 'agad', 'g', '']

In [19]:
"ou".join(text6)

'ouagadougou'

In [20]:
s.split("")

ValueError: empty separator

doesnt work

either make:
- make list out of string
- or use list comprehension

In [21]:
list(s)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [22]:
[c for c in s]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

## cleaning text

In [23]:
u="    A quick brown fox jumped over the lazy dog.   "

In [25]:
u.split(" ") ## no good

['',
 '',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '',
 '',
 '']

In [29]:
g=u.strip() # gotta first strip  spaces

In [27]:
g.split(" ")

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

## change text

In [30]:
g.find("o") # gives charcter offset of where it found the first o

10

In [31]:
g.rfind("o") #starts from the end

40

In [32]:
g.replace("o","O")

'A quick brOwn fOx jumped Over the lazy dOg.'

## handling larger text

In [33]:
f=open("foo.txt","r") # open in read mode

In [34]:
f.readline()

'hello there my good friend. How are you today?\n'

In [35]:
#read full file 
f.seek(0) #since we already opened it and query it we have to reset the start reading point 
te=f.read()

In [36]:
len(te)

135

In [37]:
tre=te.splitlines() #anything that end with \n (a capo) is a line

In [38]:
len(tre)

3

In [40]:
tre[0]

'hello there my good friend. How are you today?'

### file operations

- f = open(filename, mode)
- f.readline();f.read(), f.read(n)
- for line in f: dosomethin(line)
- f.seek(n) reading position
- f.write(message) write something
- f.close() closes file 
- f.closed() to check if is closed

# Regular expressions

In [41]:
ge = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'

In [42]:
# how to find all callouts and hashtags?

In [45]:
# first split on spaces
gee=ge.split(" ")
gee

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [46]:
print([word for word in ge.split() if word.startswith("#") ])

['#UNSG']

In [48]:
[w for w in gee if w.startswith("#")]

['#UNSG']

In [55]:
#callouts
fo='@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'.split(" ")
[w for w in fo if w.startswith("@")]

['@UN', '@UN_Women', '@']

In [54]:
# callouts start with @ but are foloowed by other text so we gotta specify that

We can use regular expressions to help us with more complex parsing. 

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

--> start with @ followed by any alphabet/digit/underscore that repeats at least once, but any number of times

In [56]:
import re

In [58]:
[w for w in fo if re.search("@[A-Za-z0-9_]+",w)]

['@UN', '@UN_Women']

## Meta characters

### Character mactches:
- . (dot): wildcard, matches a single chartacter, any but just once
- ^ : start of string, no matter what it matches any chara at beginning of string
- $: end of string
- []: matches one of the set car within []
- [a-z]: matches range of car in a,b,c,d...z
- [^abc]: matchers car that is not a,b or c
- a|b: match a or b
- (): scoping for operators
- \: escape car for special car (\t,\n,\b)

### Character symbols:
- \b: matsches word boundary
- \d: match any digit
- \D: any NON digit == [^0-9]
- \s: any white space car (tab spoace etc)
- \S; any NON space Car
- \w: any alphanumeric car == [a-zA-Z0-9_]
- \W: any NON alphanumeric == [^a-zA-Z0-9_]

### Character Repetitions:

- *: matches zero or more occurences
- +: ONE or more occurences
- ?: Zero times OR one
- {n}: exactly n repetitions
- {n,}: at least n
- {,n}: at most n
- {m,n}: at least m, at most n times

In [60]:
foo='@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'.split(" ")

In [61]:
[w for w in foo if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [62]:
[w for w in foo if re.search("@\w+", w)]

['@UN', '@UN_Women']

In [64]:
fa="ouagadougou"
re.findall(r"[aeiou]", fa)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [65]:
re.findall(r"[^aeiou]", fa)

['g', 'd', 'g']

## Dates

### just digits

In [93]:
date="23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n9-8-08"

In [74]:
re.findall(r"\d{2}[/-]\d{2}[/-]\d{4}", date)## finds only 3 out 4 dates

['23-10-2002', '23/10/2002', '10/23/2002']

In [75]:
re.findall(r"\d{2}[/-]\d{2}[/-]\d{2,4}", date)
# year could end in 08 or 2008

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [76]:
re.findall(r"\d{1,2}[/-]\d{1,2}[/-]\d{2,4}", date)
# day month could be two digits or just one

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002', '9-8-08']

In [68]:
# try with spaces instead of \n
date2="23-10-2002 23/10/2002 23/10/02 10/23/2002 23 Oct 2002 23 October 2002 Oct 23, 2002 October23,2002 "
re.findall(r"\d{2}[/-]\d{2}[/-]\d{4}", date2)

['23-10-2002', '23/10/2002', '10/23/2002']

### mixed with strings

In [80]:
re.findall(r"\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}", date)

# it does match the whole string but using (..) means "I want just that part thats inside the brackets"
#in this case "Oct"

['Oct']

In [81]:
re.findall(r"\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}", date)
# using ?: --> "this is a scoping operator but dont pull out just what you matched here"

['23 Oct 2002']

In [89]:
re.findall(r"\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}", date)
# it starts with these car (jan,feb...) but after it can contain a to z multiple times
# not using "+" because may is there and it wouldnt be matched if plus is used

['23 Oct 2002', '23 October 2002']

In [108]:
re.findall(r"(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}", date)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

In [110]:
re.findall(r"(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{2,4}", date)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

# regex with pandas and named groups

In [114]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['a'])
df

                                                   a
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [115]:
df["a"].str.len()

0    46
1    50
2    49
3    49
4    54
Name: a, dtype: int64

In [116]:
df.a.str.len()

0    46
1    50
2    49
3    49
4    54
Name: a, dtype: int64

In [119]:
df.a.str.split()

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: a, dtype: object

In [120]:
df.a.str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: a, dtype: int64

In [121]:
df.a.str.contains("appointment")

0     True
1     True
2    False
3    False
4    False
Name: a, dtype: bool

In [122]:
df.a.str.count(r"\d") #num of digits

0    3
1    4
2    3
3    4
4    8
Name: a, dtype: int64

In [123]:
df.a.str.findall(r"\d")

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: a, dtype: object

In [126]:
#group and find hours and minute
df['a'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: a, dtype: object

In [127]:
# replace weekdays with '???'
df['a'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: a, dtype: object

In [129]:
# replace weekdays with 3 letter abbrevations
df['a'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])
# make a group by using () then pass lambda func with .groups()
#[0] is for the first group 
#[:3] is to slice the first 3 letters

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: a, dtype: object

In [132]:
# create new columns from first match of extracted groups
df['a'].str.extract(r'(\d?\d):(\d\d)')
#allows us to create new columns using the extraxted groups
#doesnt extract last time entry --> use extractall

C:\Users\Ederson\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [134]:
# extract the entire time, the hours, the minutes, and the period
df['a'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [135]:
df['a'].str.extractall(r'(\d?\d):(\d\d) ?([ap]m)')
#without external() grouping all toghether

          0   1   2
  match
0 0       2  45  pm
1 0      11  30  am
2 0       7  00  pm
3 0      11  15  pm
4 0      08  10  am
  1      09  00  am

In [138]:
# extract the entire time, the hours, the minutes, and the period with group names
df['a'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')
## add P<..> for col names

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

# Basic NLP tasks with NLTK

- NLTK natural language toolkit

In [1]:
import nltk

In [3]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [5]:
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

## Counting vocabulary of words

In [6]:
text7

In [7]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [8]:
len(sent7)

18

In [9]:
len(text7)

100676

In [10]:
len(set(text7))

12408

In [11]:
list(set(text7))[:10]

['discordant',
 'give',
 'anti-program',
 'inkling',
 'voting',
 'subskills',
 'Stearn',
 'erodes',
 'test',
 'Railroad']

## Frequency of words

In [12]:
dist = FreqDist(text7)
len(dist)
#unique words

12408

In [13]:
vocab1 = dist.keys()
#vocab1[:10] 
# In Python 3 dict.keys() returns an iterable view instead of a list
list(vocab1)[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [14]:
dist['four']
#distribution of the seartched word

20

In [15]:
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 100]
freqwords
# how many times a particular words occurs with condition on length?
# find out how frequent words and i could call "frequent word" those with lenght more than 5 and appear more than 100 times

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

## Normalization and stemming

In [16]:
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ')
words1
# this is normalization

['list', 'listed', 'lists', 'listing', 'listings']

In [17]:
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]
# stemming: find the root form of word

['list', 'list', 'list', 'list', 'list']

## Lemmatization

- variant of lemming: still stemming but resulting stems are all valid words

In [18]:
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [19]:
[porter.stem(t) for t in udhr[:20]] # Still Lemmatization

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [20]:
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

## Tokenization

In [21]:
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [22]:
nltk.word_tokenize(text11)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [23]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
sentences = nltk.sent_tokenize(text12)
len(sentences)

4

In [24]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

# Advanced NLP Tasks with NLTK

## POS tagging

- Part Of Speech like nouns verbs, adjectives..
- tags for such classes, ie:
- CC: Conjunction
- CD: cardinal
- IN: preposition
- VB: verb
- MD: modal

In [27]:
nltk.help.upenn_tagset("MD")
# help command to see those classes

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [28]:
text13 = nltk.word_tokenize(text11)
nltk.pos_tag(text13) # adds tags
# useful to cluster words with same tags
#ä good for feature extraction

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [29]:
text14 = nltk.word_tokenize("Visiting aunts can be a nuisance")
nltk.pos_tag(text14)
#sentence is ambigous because it can mean that i am visiting the aunts (visiting is verb)
# or the aunts are visiting me (visiting is adjective)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

## parsing sentence structure

In [30]:
# Parsing sentence structure
text15 = nltk.word_tokenize("Alice loves Bob")
grammar = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")
# made a context free grammer
parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)
    
# s: sentence, np: Nounprhase, VP: verbphrase, v: verb

(S (NP Alice) (VP (V loves) (NP Bob)))

In [32]:
text16 = nltk.word_tokenize("I saw the man with a telescope")
grammar1 = nltk.data.load('mygrammar.cfg')
grammar1

In [33]:
parser = nltk.ChartParser(grammar1)
trees = parser.parse_all(text16)
for tree in trees:
    print(tree)

(S
  (NP I)
  (VP
    (VP (V saw) (NP (Det the) (N man)))
    (PP (P with) (NP (Det a) (N telescope)))))
(S
  (NP I)
  (VP
    (V saw)
    (NP (Det the) (N man) (PP (P with) (NP (Det a) (N telescope))))))

In [34]:
from nltk.corpus import treebank
text17 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text17)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

## POS tagging and parsing ambiguity

In [35]:
text18 = nltk.word_tokenize("The old man the boat")
nltk.pos_tag(text18)

[('The', 'DT'), ('old', 'JJ'), ('man', 'NN'), ('the', 'DT'), ('boat', 'NN')]

In [36]:
text19 = nltk.word_tokenize("Colorless green ideas sleep furiously")
nltk.pos_tag(text19)

[('Colorless', 'NNP'),
 ('green', 'JJ'),
 ('ideas', 'NNS'),
 ('sleep', 'VBP'),
 ('furiously', 'RB')]